.title{
  text-align:center;
  font-family:Helvetica;
  background-color: lightblue;
  border: solid DodgerBlue 5px; 
  color:DodgerBlue;
}
.heading{
  color:DodgerBlue;
  background-color:lightblue;
  font-family:Helvetica;
}
.backgroundcolor{
  background-color:#e6f0ff;
}
/*Element Headings*/
h2{
  font-family:Arial;
  font-size:30px;
  background-color:lightblue;
  border:solid DodgerBlue 5px;
  color:DodgerBlue;
}
/*All of the writing*/
p{
  font-family:Arial;
  box-shadow: 5px 5px 2.5px #888888;
}
/*subheadings*/
h3{
  background-color:lightblue;
  border: solid DodgerBlue 2px;
  font-family:Arial;
}
/*table organizing*/
table, th, td {
   border: 2px solid DodgerBlue;
   background-color:#66e0ff;
}
