*{
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color:#e0eaf9;
}

/* Style the header */
.header {
    padding: 20px;
    text-align: center;
    font-family:Helvetica;
    color:#000000;
    background-image:url("https://www.logodesignlove.com/images/classic/apple-logo-rob-janoff-01.jpg");
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #257296;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f1f1f1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover:not(.active) {
    background-color: #ddd;
    color: black;
}

/* indicate active page on nav */
.active{
    background-color: #257296;
}

/* A - Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 24px;
}

/* Left and right column */
.column.side {
    width: 25%;
}

/* Middle column */
.column.middle {
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}
